name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: installing non-GUI dependencies
      run: sudo apt update && sudo apt install default-libmysqlclient-dev libsqlite3-dev libtinyxml-dev
    - name: installing wxWidgets
      run: sudo apt install libwxgtk3.2-dev || sudo apt install libwxgtk3.0-gtk3-dev || sudo apt install libwxgtk3.0-dev
    - name: remove local redundancy to build-deps
      run: rm -f mysql* sqlite* && rm -rf clustalw tinyxml
    - name: autogen
      run: ./autogen.sh
    - name: configure
      run: ./configure
    - name: make
      run: make
